{{#each posts as |post| }}
<div class="box">
  <div class="head">
    <h4>
      <a href="/post/{{post.userId}}">{{post.runName}}</a>
    </h2>
    <p>Posted by {{post.user.userName}} </p>
  </div>
  <div class="content">
      <p>
      {{post.body}}
       {{post.time}}
        {{post.distance}}
    </p>
  </div>
</div>
{{/each}}
