<h4>
Viewing Post:
</h4>

<div class="box postview" >
  <div class="head">
    <h4>
      {{post.runName}}
    </h4>
    <p>Posted by {{post.user.userName}} </p>
  </div>
  <div class="content">
     <div id="aboutRun">
      <b>About</b>
 </br>{{post.body}}</div>

       <div id="time{{post.id}}" data-id="{{post.time}}">{{millisToMinutesAndSeconds post.time}}min </div> 
       <div id="distance{{post.id}}" data-id="{{post.distance}}"> {{post.distance}}km </div>
       <div id="minPerKm"> <b>{{minPerKm  post.time post.distance }}min/km</b> </div>
  </div>
</div>

<br>
<h4>Comments:</h4>
<br>

{{#each post.comments as |comment|}}
<div class="box postview">
  <div class="head">
  </div>
  <div class="content">
    <p> {{comment.commentBody}} </p>
    <p> From:{{comment.commentName}} </p>
  </div>
</div>

<br>
{{/each}}

<div class="box">
  <div class="col-md-6">
    <h2>Create a comment</h2>

    <form class="form post-form" data-id="{{post.id}}">
      <div class="form-group">
        <label>Content:</label>
        <input class="form-input" type="text" id="post-content"/>
      </div>
      <div class="form-group">
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="../js/comment.js"></script>