{{#each posts as |post| }}
<div class="box">
  <div class="head">
    <h4>
      <a href="/post/edit/{{post.id}}">{{post.runName}}</a>
    </h4>
 <p>
      <div id="aboutRun">
      <b>About</b>
      </br>{{post.body}}</div>

       <div id="time">{{millisToMinutesAndSeconds post.time}}min </div> 
       <div id="distance"> <b>{{post.distance}}km</b> </div>



   
  </div>
</div>
{{/each}}

<br>
<button class="new-post">
    <a href="/newpost"> + New Post </a>
</button>
