<div>
  <canvas id="personalChart"></canvas>
</div>

{{#each posts as |post| }}
<div class="box{{post.id}}" data-id="{{post.id}}">
  <div class="head">
    <h4>
      <a href="/post/edit/{{post.id}}">{{post.runName}}</a>
    </h4>
 <p>
      <div id="aboutRun">
      <b>About</b>
      </br>{{post.body}}</div>

       <div id="time{{post.id}}" data-id="{{post.time}}">{{millisToMinutesAndSeconds post.time}}min </div> 
       <div id="distance{{post.id}}" data-id="{{post.distance}}"> <b>{{post.distance}}km</b> </div>
       <div id="minPerKm"> <b>{{minPerKm  post.time post.distance }}min/km</b> </div>



   
  </div>
</div>
{{/each}}

<br>
<button class="new-post">
    <a href="/newpost"> + New Post </a>
</button>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="./js/personalstats.js"></script>